body{
    background-color: rgb(250, 189, 114);
    font-family: Tahoma;
    font-size: 13px;
    direction: rtl;
    box-sizing: border-box;
}
body a {
    color: white;
    text-decoration: none;
}

#h-img{
    width: 1200px;
    height: 160px;
    border: solid dimgray 1px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#wrapper{
    width: 1200px;    
    margin: 2px auto;
    padding: 5px;
    border: 1px white;
    border-radius: 7px;
    background: linear-gradient(rgb(125,145,155) 500px, rgb(120,140,150)100%);
}

#header{
    width: 1200px;
    height: 110px;
    font-size: 90px;
    color: dimgray;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5px;
    background: radial-gradient(circle,burlywood 0%,white 40%,burlywood 85%,white 100%);
    border-radius: 6px;
}

#nav{
    width: 1195px;
    margin: 3px;
    height: 40px;
    margin-bottom: 10px;
    background-color: dimgray;
    border-radius: 8px;
}
#menu{
    font-size: 16px;
    list-style-type: none;
}
#menu li{
    float: right;
    border: solid 1px gray;
    border-radius: 10px;
}
#menu a{
    display: block;
    border-radius: 8px;
    width: 260px;
    height: 20px; 
    text-align: center;
    padding: 10px;
    padding-left: 6px;
}

table{
    float: right;
}

table img{
    width: 320px;
    height: 240px;
}

table, th, td, tr {
    background-color: silver;
    border: 1px solid dimgray;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

.about{
    width: 240px;
    height: 555px;
    float: right;
    margin-right: 20px;
    background-color: silver;
    border: solid dimgray 1px;
    border-radius: 10px;
}

.about{
    padding-right: 15px;
}

.about{
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}


#add{
    width: 220px;
    height: 30px;
    color: white;
    border: solid silver 1px;
    border-radius: 10px;
    margin-top: 180px;
    text-align: center;
    background-color: dimgray;

}

.side-links a{
    color: black;
}

.side-links{
    width: 180px;
    height: 555px;
    float: right;
    margin-right: 20px;
    background-color: silver;
    border: solid dimgray 1px;
    border-radius: 10px;
}

.side-links ul{
    padding-right: 15px;
}

.side-links li{
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}

#footer{
    clear: both;
    height: 70px;
    width: 1200px;
    text-align: center;
    padding-top: 10px;
    background: radial-gradient(circle,burlywood 0%,white 40%,burlywood 85%,white 100%);
    border-radius: 6px;
}

